body {
    display: flex;
    background-color: aqua;
    max-width: 1366px;
}

.container {
    padding: 0.2em;
    margin: 0.1em;
    background-color: aqua;
    width: 100%;
}

img {
    width: 150px;
    height: 80px;
}


ul {
    list-style-type: none;
    display: flex;
    
}

li {
    padding: 0.5em;
    justify-content: space-between;
}


.cabecalho {
    
    padding: 0.2em;
    margin: 0em;
    border: solid 0.2em black;
}

input{
    text-align: center;
}


#inputB {
    max-width: 4em;
}

#logoid{
    max-width: 80%;
}
.equal-size {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.equal-size li {
    flex: 1;
    margin-right: 10px; 
}

.equal-size li:last-child {
    margin-right: 0; 
}
.equal-size input {
    width: 100%; 
}

.cont-main {
    display: flexbox;
    justify-content: center;
    width: 100%;
    
}

.formAdicao {
    text-align: center;
    margin-top: 0.2em;
    padding: 0.2em;
    border: solid 0.2em black;
}

.tabAtv {
    height: 25em;
    margin-top: 0.2em;
    padding: 0.2em;
    border: solid 0.2em black;
}
.tabela {
   

}

tr {
    padding: 0.2em;
    width: 100%;
    margin-left: 1em; 
    
}
th {
    border: solid 0.1em black;
    padding: 1em;
}

h2 {
    margin-left: 0.5em;    
    width: 100%;
}