
body {
    padding: 0.2em;
    margin: 0.1em;
}

.appName{
    text-align: center;
    background-color: rgb(63, 168, 216);
    padding: 0.2em;
    border: solid 0.1em black;
}
ul {
    list-style-type: none;
}
li {
    padding: 0.2em;
}
.areaForm{
    margin-top: 0.4em;
    padding: 16em;   
    text-align: center;
    background-color: rgb(63, 168, 216);
    border: solid 0.1em black;
}
label  {
    margin: 0.2em;
    padding: 0.2em;
}

button {
    padding: 0.2em;
    margin: 0.2em;
}